:root {
  --main-background: #0b0c0f;
  --main-fonts-color: #000000; /* Changed text color to black */
  --main-decor-color: #00a9e2;
  --main-header-background: #21252e;
  --main-font-family: 'Poppins', sans-serif;
}

/* General styles */
html, body {
  margin: 0;
  padding: 0;
  height: fit-content;
  font-family: var(--main-font-family);
  color: var(--main-fonts-color);
  background-image: linear-gradient(to right, #fff, #65adff);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-header-background);
  padding: 0 10px;
  z-index: 5;
}

.nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link, .logo {
  text-decoration: none;
  color: var(--main-fonts-color);
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-link:hover, .logo:hover {
  background-color: #5455b0;
  border-radius: 7px;
}

.projectscontent {
  padding-top: 110px;
  padding-left: 20px;
}

.image1, .image2, .image3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image1 img, .image2 img, .image3 img {
  height: auto;
  width: 275px;
  border-radius: 12px;
  margin: 10px; /* Added margin */
  padding: 10px; /* Added padding */
}

.image1 h3, .image2 h3, .image3 h3 {
  width: 100%;
  padding: 0 10px;
  color: var(--main-fonts-color); /* Ensure text color is black */
}

.content {
  padding-top: 110px;
  padding-left: 100px;
  width: 40%;
}

.skills {
  padding-top: 70px;
  padding-left: 100px;
  width: 40%;
}

.box {
  background-color: #21252e;
  border-color: #a8a8a8;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  height: 30px;
  width: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
}

.container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3d4049;
  height: fit-content;
  width: fit-content;
  border-radius: 12px;
}

.box:hover {
  background-color: #676767;
}

/* Media query for mobile screens */
@media only screen and (max-width: 800px) {
  .image1 img, .image2 img, .image3 img{
    height: auto;
    width: 200px;
    border-radius: 12px;
    margin: 7px;
    padding: 7px;
  }

  body {
    background-color: #65adff;
  }
  
  .image1 h3, .image2 h3, .image3 h3 {
    width: auto; /* Allow text to take its natural width */
    padding: 10px; /* Adjust padding */
  }
}
